{% extends 'base.html' %}


{% block page_title %}
  Sign Up
{% endblock page_title %}  

{% block search-bar %}
<div></div>
{% endblock search-bar %}

{% block content %}
  <div class="background">
    <div class="wrap">
      <form action="{% url 'users:signup' %}" method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form_input rounded-tl-lg rounded-tr-lg">
          {{form.first_name}}
        </div>
        <div class="form_input">
          {{form.last_name}}
        </div>
        <div class="form_input">
          {{form.email}}
        </div>
        <div class="form_input">
          {{form.password}}
        </div>
        <div class="form_input">
          {{form.password1}}
        </div>


        <div class="form_input">
          <label for="{{form.avatar.id_for_label}}" class="text-lg font-bold">Avatar</label>
          {{form.avatar}}
        </div>
        <div class="form_input">
          {{form.bio}}
        </div>
        <div class="select">
          <label for="{{form.gender.id_for_label}}">Gender:</label>
          {{form.gender}}
        </div>
        <div class="select">
          <label for="{{form.language.id_for_label}}">Language:</label>
          {{form.language}}
        </div>
        <div class="select">
          <label for="{{form.currency.id_for_label}}">Currency:</label>
          {{form.currency}}
        </div>        
        <div class="birthdate rounded-br-xl rounded-bl-lg">
          <label for="birthdate">Birthdate:</label>
          <input type="date" id="birthdate" name="birthdate">
        </div>
        <button class="form_button">Submit</button>
      </form>
    </div>
  </div>
{% endblock content %}
  