{% extends 'base.html' %}


{% block page_title %}
  Edit {{user.first_name}}'s Profile
{% endblock page_title %}

{% block search-bar %}
<div></div>
{% endblock search-bar %}

{% block content %}
  <div class="background">
    <div class="wrap">
      <div class="flex flex-col items-center justify-center">
        <div class="mb-4">
          {% include 'mixins/avatar.html' with user=user %}
        </div>
        {% if user.login_method == "github" %}
          <div class="flex items-center mb-4">
            <h3 class="font-bold text-base mr-2">Github Email:</h3>
            <span>{{user.email}}</span>
          </div>
        {% elif user.login_method == "kakao" %}
          <div class="flex items-center mb-4">
            <h3 class="font-bold text-base mr-2">Kakao Email:</h3>
            <span>{{user.email}}</span>
          </div>
        {% endif %}
      </div>
      <form method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form_input rounded-tl-lg rounded-tr-lg">
          <label for="first_name">First Name</label>
          {{form.first_name}}
        </div>

        <div class="form_input">
          <label for="last_name">Last Name</label>
          {{form.last_name}}
        </div>

          {% if user.login_method == "email" %}
            <div class="form_input">
              <label for="email">Email</label>
              {{form.email}}
            </div>
          {% endif %}

        {% if user.login_method == "email" %}
          <div class="form_input">
            <label for="avatar">Avatar</label>
            <input type="file" id="avatar" name="avatar" accept="image/*">
          </div>
        {% endif %}

        <div class="select">
          <label for="gender">Gender</label>
          {{form.gender}}
        </div>

        <div class="select">
          <label for="language">Language</label>
          {{form.language}}
        </div>
        
        <div class="select">
          <label for="currency">Currency</label>
          {{form.currency}}
        </div>

        <div class="birthdate">
          <label for="birthdate">Birthdate</label>
          <input type="date" id="birthdate" name="birthdate" placeholder="Birthdate" value="{{user.birthdate|date:'Y-m-d'}}" required>
        </div>

        <div class="form_input rounded-br-lg rounded-bl-lg">
          <textarea id="bio" placeholder="Bio" name="bio">{{user.bio}}</textarea>
        </div>
        <button class="form_button">Edit Profile</button>
      </form>
      {% if user.login_method == 'email' %}
        <button class="button bg-red-500">
          <a href="#">Change Password</a>
        </button>
      {% endif %}
      <button class="button bg-gray-700">
        <a href="{% url 'users:profile' user.pk %}">Back</a>
      </button>
    </div>
  </div>

{% endblock content %}