{% load i18n %}

<ul class="flex place-self-end">
  {% if user.is_authenticated %}
    <li class="nav_link">
      {% if request.session.is_hosting %}
        <a href="{% url 'rooms:create-room' %}">{% trans 'Create Room' %}</a>
      {% else %}
        <a href="#">{% trans 'Reserved Rooms' %}</a>
      {% endif %}
    </li>
    <li class="nav_link">
      <a href="{% url 'users:switch-hosting' %}">
        {% if request.session.is_hosting %}
          {% trans 'Guest mode' %}
        {% else %}
          {% trans 'Host mode' %}
        {% endif %}
      </a>
    </li>
    <li class="nav_link">
      <a href="{% url 'users:profile' user.pk %}">{% trans 'Profile' %}</a>
    </li>
    <li class="nav_link">
      <a href="{% url 'users:logout' %}">{% trans 'Log Out' %}</a>
    </li>
  {% else %}
    <li class="nav_link">
      <a href="{% url 'users:login' %}">{% trans 'Log In' %}</a>
    </li>
    <li class="nav_link">
      <a href="{% url 'users:signup' %}">{% trans 'Sign Up' %}</a>
    </li>
  {% endif %}
</ul>