<ul class="grid grid-cols-4 grid-rows-2-300px auto-rows-300px gap-4 gap-y-6">
    {% for reservation in reservations %}
        <li class="w-full">
            <a href="#">
                <div class="rounded-lg bg-cover bg-center h-3/4 mb-2" style="background-image:url('{{reservation.room.get_first_photo}}')">
                    <div class="flex items-center {% if reservation.room.host.superhost %}justify-between{% else %}justify-end{% endif %}">
                        {% if reservation.room.host.superhost %}
                            <span class="bg-white p-2 ml-2  mt-2 rounded-lg font-semibold justify-start">Superhost</span>
                        {% endif %}
                        <i class="far fa-heart mr-2 mt-2 text-2xl text-white justify-end text-center"></i>
                    </div>
                </div>
                <div class="h-1/4">
                    <div class="mb-1">
                        <i class="fas fa-star text-red-500"></i>
                        <span class="review-points">{{reservation.room.get_review_points}}</span>
                        <span class="text-gray-400">({{reservation.room.reviews.count}})</span>
                    </div>
                    <div class="truncate">
                        {{reservation.room.country}} &bull; {{reservation.room.address}}
                    </div>
                </div>
            </a>
        </li>
    {% endfor %}
</ul>