{% extends 'base.html' %}

{% load remainder_op %}

{% block page_title %}
    {{request.user}}'s Reservation List
{% endblock page_title %}

{% block content %}
    <div class="flex flex-col items-center justify-items-center">
        <div class="w-10/12">
            {% include 'partials/reservation_card.html' %}
            <div class="flex justify-center mt-20 itmes-center">
                {% include 'mixins/page_number.html' with page=page_obj %}
            </div>
        </div>
    </div>
{% endblock content %}