{% extends 'base.html' %}

{% block page_title %}
  Create {{user.first_name}}'s Room
{% endblock page_title %}

{% block search-bar %}
<div></div>
{% endblock search-bar %}
  

{% block content %}
  <div class="background">
    <div class="wrap">
      <h1 class="text-3xl font-bold pb-6 pt-3 text-center">Create Room</h1>
      <form method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form_input rounded-tr-lg rounded-tl-lg">
          <input type="text" name="name" placeholder="Name" required>
        </div>
        <div class="select">
          <label for="country">Country</label>
          <select name="country" id="country" required>
            {% for acountry in form.country %}
              {{acountry}}
            {% endfor %}
          </select>
        </div>

        <div class="form_input">
          <input type="text" name="city" class="w-full" placeholder="City" required>
        </div>
        
        <div class="form_input">
          <input type="text" name="address" class="w-full" placeholder="Address" required>
        </div>

        <div class="number_input">
          <input type="number" name="price" class="w-full" placeholder="Price" min=0 required>
        </div>

        <div class="number_input">
          <input type="number" name="guests"class="w-full" placeholder="Guests" min=0 required>
        </div>

        <div class="number_input">
          <input type="number" name="bedrooms" class="w-full" placeholder="Bedrooms" min=0 required>
        </div>

        <div class="number_input">
          <input type="number" name="beds" class="w-full" placeholder="Beds" min=0 required>
        </div>

        <div class="number_input">
          <input type="number" name="bathrooms" min=0 class="w-full" placeholder="Bathrooms" required>
        </div>
        
        <div class="select">
          <label for="room_type" class="text-lg font-bold">Room Type</label>
          {{form.room_type}}
          
        </div>

        <div class="form_input">
          <textarea name="description" class="h-40" placeholder="Description"></textarea>
        </div>

        <div class="checkbox">
          <h3>Amenity</h3>
          <ul>
          {% for amenity in form.amenities %}
            <li>
              <label for=amenity_{{amenity.data.value}}>{{amenity.data.label}}</label>
              <input
                type="checkbox"
                name="amenities"
                value="{{amenity.data.value}}"
                id="amenity_{{amenity.data.value}}"
                >
            </li>
          {% endfor %}
          </ul>
        </div>

        <div class="checkbox">
          <h3>Facility</h3>

          <ul>
          {% for facility in form.facilities %}
            <li>
              <label for=facility_{{facility.data.value}}>{{facility.data.label}}</label>
              <input
                type="checkbox"
                name="facilities"
                value="{{facility.data.value}}"
                id="facility_{{facility.data.value}}"
                >
            </li>
          {% endfor %}
          </ul>
        </div>

        <div class="checkbox">
          <h3>House Rules</h3>
          <ul>
          {% for house_rule in form.house_rules %}
            <li>
              <label for=house_rule_{{house_rule.data.value}}>{{house_rule.data.label}}</label>
              <input
                type="checkbox"
                name="house_rules"
                value="{{house_rule.data.value}}"
                id="house_rule_{{house_rule.data.value}}"
                >
            </li>
          {% endfor %}
          </ul>
        </div>
        
        <div class="border p-3 border-gray-400 flex justify-between">
          <input type="text" name="caption" class="p-1 w-full" placeholder="Caption">
          <input type="file" name="photo" class="p-1 w-full">
        </div>
        
        <div class="checkbox rounded-bl-lg rounded-br-lg">
          <label for="instant_book" class="text-lg font-bold mr-2">Instant Book</label>
          <input type="checkbox", name="instant_book" id="instant_book">
        </div>
        <button class="form_button">Create</button>
      </form>
    </div>
  </div>
{% endblock content %}