{% extends 'base.html' %}

{% block page_title %}
  Edit {{room.name}}
{% endblock page_title %}


{% block search-bar %}
<div></div>
{% endblock search-bar %}
  

{% block content %}
  <div class="background">
    <div class="wrap">
      <h1 class="text-3xl font-bold pb-6 pt-3 text-center">Edit Room</h1>
      <form method="post" class="form">
        {% csrf_token %}
        <div class="form_input rounded-tr-lg rounded-tl-lg">
          {{form.name}}
        </div>
        <div class="select">
          <label for="country">Country</label>
          {{form.country}}
        </div>

        <div class="form_input">
          {{form.city}}
        </div>
        
        <div class="form_input">
          {{form.address}}
        </div>

        <div class="number_input">
          {{form.price}}
        </div>

        <div class="number_input">
          {{form.guests}}
        </div>

        <div class="number_input">
          {{form.bedrooms}}
        </div>

        <div class="number_input">
          {{form.beds}}
        </div>

        <div class="number_input">
          {{form.bathrooms}}
        </div>
        
        <div class="select">
          <label for="room_type" class="text-lg font-bold">Room Type</label>
          {{form.room_type}}
        </div>

        <div class="form_input">
          {{form.description}}
        </div>

        <div class="checkbox">
          <h3>Amenity</h3>
          <ul>
          {% for amenity in form.amenities %}
            <li>
              <label for=amenity_{{amenity.data.value}}>{{amenity.data.label}}</label>
              <input
                type="checkbox"
                name="amenities"
                value="{{amenity.data.value}}"
                id="amenity_{{amenity.data.value}}"
                {% if amenity.data.selected %}
                  checked
                {% endif %}
                >
            </li>
          {% endfor %}
          </ul>
        </div>

        <div class="checkbox">
          <h3>Facility</h3>

          <ul>
          {% for facility in form.facilities %}
            <li>
              <label for=facility_{{facility.data.value}}>{{facility.data.label}}</label>
              <input
                type="checkbox"
                name="facilities"
                value="{{facility.data.value}}"
                id="facility_{{facility.data.value}}"
                {% if facility.data.selected %}
                  checked
                {% endif %}
                >
            </li>
          {% endfor %}
          </ul>
        </div>

        <div class="checkbox">
          <h3>House Rules</h3>
          <ul>
          {% for house_rule in form.house_rules %}
          
            <li>
              <label for=house_rule_{{house_rule.data.value}}>{{house_rule.data.label}}</label>
              <input
                type="checkbox"
                name="house_rules"
                value="{{house_rule.data.value}}"
                id="house_rule_{{house_rule.data.value}}"
                {% if house_rule.data.selected %}
                  checked
                {% endif %}
                >
            </li>
          {% endfor %}
          </ul>
        </div>
        <div class="checkbox rounded-bl-lg rounded-br-lg mb-4">
          <label for="id_instant_book" class="text-lg font-bold mr-2">Instant Book</label>
          {{form.instant_book}}
        </div>
        <button class="form_button">Edit</button>
      </form>
      <button class="button">
        <a href="#">Photo Settings</a>
      </button>
      <button class="button bg-red-600">
        <a href="#">Delete Room</a>
      </button>
      <button class="button bg-gray-700">
        <a href="{{room.get_absolute_url}}">Back</a>
      </button>
    </div>
  </div>
    
{% endblock content %}