{% extends 'base.html' %}

{% block page_title %}
  Search
{% endblock page_title %}


{% block search-bar %}
<div></div>
{% endblock search-bar %}
  

{% block content %}
  <div class="background mb-20">
    <div class="wrap">
      <form method="get" action="{% url 'core:search' %}" class="form">
        {% csrf_token %}
        <div class="select rounded-tr-lg rounded-tl-lg">
          <label for="country">Country</label>
          <select name="country" class="w-2/3" id="country">
            <option>Any Kind</option>
            {% for country in countries %}
              <option value="{{country.code}}" {% if s_country == country.code %} selected {% endif %}>{{country.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="number_input">
        <label for="city">City:</label>
          <input type="text" class="w-2/3" name="city" placeholder="City" value="{{city}}">
        </div>
        
        <div class="number_input">
        <label for="price">Price</label>
          <input type="number" class="w-2/3" name="price" placeholder="Price" min=0 value={{price}}>
        </div>

        <div class="number_input">
        <label for="guests">Guests</label>
          <input type="number" class="w-2/3" name="guests" min=0 placeholder="Guests" value={{guests}}>
        </div>

        <div class="number_input">
        <label for="bedrooms">bedrooms</label>
          <input type="number" class="w-2/3" name="bedrooms" min=0 placeholder="Bedrooms" value={{bedrooms}}>
        </div>

        <div class="number_input">
        <label for="beds">beds</label>
          <input type="number" class="w-2/3" name="beds" min=0 placeholder="Beds" value={{beds}}>
        </div>

        <div class="number_input">
        <label for="bathrooms">bathrooms</label>
          <input type="number" class="w-2/3" name="bathrooms" min=0 placeholder="Bathrooms" value={{bathrooms}}>
        </div>
        
        <div class="select">
        <label for="room_type" class="text-lg font-bold">Room Type</label>
          <select name="room_type" class="w-2/3" id="room_type">
            <option value="0" {% if s_room_type == room_type.pk %} selected {% endif %}>Any Kind</option>
            {% for room_type in room_types %}
              <option value="{{room_type.pk}}" {% if s_room_type == room_type.pk|slugify %} selected {% endif %}> {{room_type}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="checkbox">
          <h3>Amenity</h3>
          <ul>
          {% for amenity in amenities %}
            <li>
              <label for=amenity_{{amenity.pk}}>{{amenity.name}}</label>
              <input
                type="checkbox"
                name="amenities"
                value="{{amenity.pk}}"
                id="amenity_{{amenity.pk}}"
                {% if amenity.pk|slugify in s_amenities %}
                  checked
                {% endif %}
                >
            </li>
          {% endfor %}
          </ul>
        </div>

        <div class="checkbox">
          <h3>Facility</h3>

          <ul>
          {% for facility in facilities %}
            <li>
              <label for=facility_{{facility.pk}}>{{facility.name}}</label>
              <input
                type="checkbox"
                name="facilities"
                value="{{facility.pk}}"
                id="facility_{{facility.pk}}"
                {% if facility.pk|slugify in s_facilities %}
                  checked
                {% endif %}
                >
            </li>
          {% endfor %}
          </ul>
        </div>

        <div class="checkbox">
          <h3>House Rules</h3>
          <ul>
          {% for house_rule in house_rules %}
            <li>
              <label for=house_rule_{{house_rule.pk}}>{{house_rule.name}}</label>
              <input
                type="checkbox"
                name="house_rules"
                value="{{house_rule.pk}}"
                id="house_rule_{{house_rule.pk}}"
                {% if house_rule.pk|slugify in s_house_rules %}
                  checked
                {% endif %}
                >
            </li>
          {% endfor %}
          </ul>
        </div>
        <div class="checkbox rounded-bl-lg rounded-br-lg">
          <label for="instant_book" class="text-lg font-bold mr-2">Instant Book</label>
          <input type="checkbox", name="instant_book" id="instant_book" {% if instant_book %}checked{% endif %}>
        </div>
        <button class="form_button">Search</button>
      </form>
    </div>
  </div>
  <div class="flex flex-col items-center justify-items-center mt-10">
    <div class="w-10/12">
        {% include 'mixins/room_card.html' with rooms=rooms %}
        <div class="flex justify-center mt-20 itmes-center">
        {% include 'mixins/page_number.html' with page=rooms %}
      </div>
    </div>
  </div>
{% endblock content %}