{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block page_title %}{% endblock page_title %} | Hairbnb</title>
  </head>
  <body class="text-gray-800 font-light mt-28 ">
    {% include 'partials/messages.html' %}
    <header class='z-20 grid grid-cols-3 justify-between items-center px-14 border-b-2 mb-9 fixed w-full h-20 bg-white inset-0'>
      <div class="flex ">
        <a href="{% url 'core:home' %}" class="mr-4 flex items-center">
          <img src="{% static 'img/logo.png' %}" alt="logo" class="w-8 mr-2">
          <span class="font-bold text-xl text-red-500">hairbnb</span>
        </a>
      </div>
      {% block search-bar %}
        <div class="w-full flex justify-center items-center">
          <form action="{% url 'core:search' %}" class="w-3/4">
            <input 
            type="text"
            placeholder="{% trans 'Searching By City' %}"
            name="city" 
            class="shadow border-none outline-none px-8 py-3 rounded-3xl w-full border-gray-500 border"
            >
          </form>
        </div>
      {% endblock search-bar %}
      {% include 'partials/nav.html' %}
    </header>
    {% block content %}{% endblock content %}
    {% include 'partials/footer.html' %}
    <script src="{% static 'js/main.js' %}"></script>
</html>
