{% extends 'base.html' %}

{% block page_title %}
  Create {{room.name}}'s Photo
{% endblock page_title %}


{% block search-bar %}
<div></div>
{% endblock search-bar %}
  

{% block content %}
  <div class="background">
    <div class="wrap">
      <h1 class="text-3xl font-bold pb-6 pt-3 text-center">Create Photo</h1>
      <form method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form_input rounded-tr-lg rounded-tl-lg">
          <input type="text" name="caption" placeholder="Caption" required>
        </div>
        
        <div class="border p-3 border-gray-400 flex justify-between rounded-bl-lg rounded-br-lg">
          <input type="file" name="photo" class="p-1 w-full" accept="image/*">
        </div>
        <button class="form_button">Create</button>
      </form>
      <button class="button bg-gray-700">
        <a href="{% url 'rooms:room-detail' room.pk %}">Back</a>
      </button>
    </div>
  </div>
{% endblock content %}